dist: trusty
sudo: required
addons:
  postgresql: "9.6"
services:
  - docker
language: go
os:
  - linux
go:
  - "1.15.x"
  - "1.14.x"
  - master
matrix:
  allow_failures:
    - go: master
  fast_finish: true
env:
  - PREST_PG_USER=postgres PREST_PG_DATABASE=prest PREST_PG_PORT=5432 PREST_CONF=$TRAVIS_BUILD_DIR/testdata/prest.toml
before_install:
  - sudo apt-get -y install gcc-multilib
  - go get -v -d ./...
  - go get -v github.com/inconshreveable/mousetrap
install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
before_script:
  - sh testdata/schema.sh
script:
  - curl -sfL https://git.io/goreleaser | sh -s -- check
  - sh testdata/migrations_test.sh
  - env go test -race -covermode=atomic -coverprofile=coverage.out ./...
  - test $TRAVIS_PULL_REQUEST = "false" && $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN

deploy:
  - provider: script
    skip_cleanup: true
    script: bash scripts/releaser-tag.sh
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
      go: "1.15.x"
  - provider: script
    script: bash scripts/releaser-latest.sh
    on:
      branch: master
      go: "1.15.x"
      condition: $TRAVIS_OS_NAME = linux

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/edf464ac074390da55f9
