version: "3"
services:
  postgres:
    image: postgres
    volumes:
      - "./data/postgres:/var/lib/postgresql/data"
    environment:
      - POSTGRES_DB=prest
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-U", "prest"]
      interval: 30s
      retries: 3
  prest:
    build: .
    restart: on-failure
    links:
      - "postgres:postgres"
    environment:
      - PREST_DEBUG=true # remove comment to disable DEBUG mode
      - PREST_PG_HOST=postgres
      - PREST_PG_CACHE=false
      - PREST_JWT_DEFAULT=false # toggle to use jwt
      - PREST_CACHE_ENABLED=false
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3000:3000"
